#page-signin {
    width : 100vw;
    height: 100vw;

    display        : flex;
    justify-content: center;
    align-items    : center;
}


/* Full-width input fields */
input {
    width     : 100%;
    padding   : 15px;
    margin    : 5px 0 22px 0;
    display   : inline-block;
    border    : none;
    background: var(--color-input-background);
}

input:focus {
    background-color: var(--color-input-background-focus);
    outline         : none;
}