#page-match {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-text-in-primary);
    background: var(--color-background);
}

#page-match-content {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: 7rem 5fr 1fr 6rem;

    background: linear-gradient(var(--color-primary-light), rgb(66, 34, 71));
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header a,
img {
    height: 100%;
    margin: auto;
}

.header a img {
    padding: 25%;
}

.card {
    position: relative;
    margin: 0 20px 1rem 20px;
    width: auto;
    z-index: 1;
}

.card #cardShadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ba61c9;
    left: -8px;
    top: 8px;
    z-index: -1;
    border-radius: 50px;
}

.card img#cardPic {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    object-fit: cover;
}

.card .buttons-content {
    position: absolute;
    bottom: 3rem;

    width: 80%;
    height: 60px;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 53px 1fr 53px;
}

.buttons {
    height: 53px;
    border-radius: 50%;
    background-color: white;
}

.buttons img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    padding: 30%;
}

#passB {
    box-shadow: 0 0 1em red;
    border: 2px solid red;
}

#likeB {
    box-shadow: 0 0 1em var(--color-primary-lighter);

    border: 2px solid var(--color-primary-lighter);
    color: var(--color-primary-lighter);

    border-radius: 3rem;
    margin: 0 15%;

    font-size: 110%;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#perfilB {
    box-shadow: 0 0 1em purple;
    border: 2px solid purple;
}

.description {
    margin: 1rem 2rem 0;
}

.description h3 {
    color: white;
    font: 400 2rem Poppins;
}
.description span {
    color: var(--color-text-in-primary);
}

.description h4 {
    font: 300 1.6rem Poppins;
    color: ;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    width: 100%;
    background-color: var(--color-primary);

    z-index: 0;
}

.footer a {
    z-index: 1;
    height: 53px;
    margin: auto;
}

.footer a img {
    height: 100%;
    padding: 15%;
}

.footer a#cardB img {
    position: relative;
    top: -20px;
    height: 75px;
}

.footer #ball {
    position: absolute;
    top: -3rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--color-primary);
    height: 9rem;
    width: 13rem;
    border-radius: 80%;
}

@media (min-width: 900px) {
    #page-match-content {
        max-width: 400px;
        max-height: 750px;
        border-radius: 10px;
    }
    .footer {
        border-radius: 10px;
    }
}
