#page-match {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-text-title);
    background: var(--color-background);
}

#page-match-content {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: 7rem 4fr 1fr 6rem;

    background: var(--color-text-title);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header img {
    height: 100%;
}

.card {
    position: relative;
    margin: 0 3rem 1rem 3rem;
    width: auto;
    z-index: 1;
}

.card #cardShadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: violet;
    left: -8px;
    top: 8px;
    z-index: -1;
    border-radius: 50px;
}

.card img#cardPic {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    object-fit: cover;
}

.card .buttons-content {
    position: absolute;
    bottom: 3rem;

    width: 80%;
    height: 60px;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 53px 1fr 53px;
}

.buttons {
    height: 53px;
    border-radius: 50%;
}

.buttons img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    padding: 20%;
}

#passB {
    background-color: white;
    box-shadow: 0 0 1em red;
}

#likeB {
    background-color: white;
    box-shadow: 0 0 1em blue;
    border-radius: 3rem;
    margin: 0 15%;

    font-size: 100%;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#perfilB {
    background-color: white;
    box-shadow: 0 0 1em purple;
}

.description {
    margin: 1rem 2rem 0;
}

.description h3 {
    font: 400 2rem Poppins !important;
    color: var(--color-title-in-primary);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 100%;
    background-color: var(--color-primary);
    border-radius: 10px;
}

.footer #ball {
    position: absolute;
    top: -2.5rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--color-primary);
    height: 8rem;
    width: 10rem;
    border-radius: 80%;
}

@media (min-width: 900px) {
    #page-match-content {
        max-width: 400px;
        max-height: 750px;
        border-radius: 10px;
    }
}
