#page-signup {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-in-primary);
    background: var(--color-primary);
}

.singup-container h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.singup-container p {
    margin-bottom: 2rem;
}

.singup-container input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    border-radius: 0.8rem;
    background: var(--color-input-background);
}

.singup-container input:focus {
    background-color: var(--color-input-background-focus);
    outline: none;
}

.singup-container button {
    width: 30rem;
    height: 6rem;
    border-radius: 0.8rem;
    font: 700 2rem Archivo;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: var(--color-button-text);

    transition: background-color 0.2s;
}

.singup-container button.btnSignUp {
    background: var(--color-secundary);
}

.singup-container button.btnSignUp:hover {
    background: var(--color-primary-light);
}
